{{!< default}}

{{#contentFor 'body_custom_class'}} shop-template{{/contentFor}}

<div class='o-grid'>
  <div class='o-grid__col o-grid__col--center o-grid__col--9-10-m o-grid__col--3-4-l'>
      {{bluedot_product}}
  </div>
</div>