/*------------------------------------*\
  Elements > Page
\*------------------------------------*/

body {
  direction: ltr;
  color: var(--color-text-primary);
  font-size: $type-md;
  font-family: var(--type-sans-serif);
  line-height: var(--line-height-base);
  background-color: var(--background-primary);
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

  &.e-mode-mobile {
    height: 100vh;
    overflow: hidden;
  }
}