// *------------------------------------*\
// Components
// *------------------------------------*/

@import 'skip';
@import 'header';
@import 'logo';
@import 'nav';
@import 'post-header';
@import 'share';
@import 'post';
@import 'content';
@import 'drop-cap';
@import 'kg-card';
@import 'gallery';
@import 'bookmark-card';
@import 'buttons';
@import 'post-card';
@import 'pagination';
@import 'subscribe';
@import 'footer';
@import 'title-bar';
@import 'card-author';
@import 'archive';
@import 'author';
@import 'tags';
@import 'membership-plan';
@import 'alerts';
@import 'card-archive';

@import 'home';
@import 'home-right';
@import 'home-circle';
@import 'home-center';
@import 'home-wide';
@import 'home-full';

@import 'shop';
@import 'shop-featured';
@import 'shop-category';

@import 'product-featured';

@import 'archive-grid';


// For Product style
@import 'product';

// For Product Card style
@import 'product-grid';
@import 'product-card';

// For Product Slide style
@import 'product-slide';
@import 'product-navigation';
@import 'product-pagination';

@import 'shop-slide';

@import 'message';