<div class='c-home-circle__media c-home-circle__media--large'>
  <img class='c-home-circle__image lazyload' data-src='{{ img_url feature_image size='home-image-ricle--large' }}' width='192' height='192' alt='{{ @site.brand_site_title }}'>
</div>