<div class='c-home-circle__media'>
  <img class='c-home-circle__image lazyload' data-src='{{ img_url feature_image size='home-image-ricle' }}' width='96' height='96' alt='{{ @site.brand_site_title }}'>
</div>