<div class="c-message__outer">
  <div class="o-container">
    <div class="c-message">
      <div class="c-message__content">
        <p>아직 구매한 강의 or 콘텐츠가 없어요.<br>이제 웬유와 함께 더 멋지게 성장하세요!</p>
      </div>
    </div>
  </div>
</div>