<div class="c-message__outer">
  <div class="o-container">
    <div class="c-message">
      <div class="c-message__content">회원으로 로그인 후에 사용할 수 있습니다.</div>
      <div class="c-message__actions">
        <a href="/signin/">로그인</a>
      </div>
    </div>
  </div>
</div>